<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body class="container-principal">

    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="jumbotron mt-3">

                    <h2 class="center">Pagina Oficial de baseball Republica Dominicana</h2>
                </div>
            </div>

            <div class="col-6">

                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eh9Dn_6sdso" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Major league baseball
                            <i class="far fa-baseball"></i>
                            <i class="fal fa-baseball" id="iconos_game"></i>
                        </h2>

                        <p class="card-text">The Best Player From Every MLB Team In 2018.</p>

                    </div>
                </div>
            </div>

            <!-- <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eh9Dn_6sdso" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Major league baseball
                            <i class="far fa-baseball"></i>
                            <i class="fal fa-baseball" id="iconos_game"></i>
                        </h2>
                        <p class="card-text">The Best Player From Every MLB Team In 2018.</p>
                    </div>
                </div> -->
            <div class="col-6">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eh9Dn_6sdso" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Major league baseball
                            <i class="far fa-baseball"></i>
                            <i class="fal fa-baseball" id="iconos_game"></i>
                        </h2>

                        <p class="card-text">The Best Player From Every MLB Team In 2018.</p>
                        <!-- <div class="card-footer">
                            <small class="text-muted">La Vida de un Developer</small>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eh9Dn_6sdso" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Major league baseball
                            <i class="far fa-baseball"></i>
                            <i class="fal fa-baseball" id="iconos_game"></i>
                        </h2>

                        <p class="card-text">The Best Player From Every MLB Team In 2018.</p>
                        <!-- <div class="card-footer">
                            <small class="text-muted">La Vida de un Developer</small>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Eh9Dn_6sdso" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">Major league baseball
                            <i class="far fa-baseball"></i>
                            <i class="fal fa-baseball" id="iconos_game"></i>
                        </h2>

                        <p class="card-text">The Best Player From Every MLB Team In 2018.</p>
                        <!-- <div class="card-footer">
                            <small class="text-muted">La Vida de un Developer</small>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>